.app-game-container {
  height: 100vh;
  background: #1e5799;
  background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 52%, #7db9e8 100%);
  background: -webkit-linear-gradient(
    top,
    #1e5799 0%,
    #2989d8 52%,
    #7db9e8 100%
  );
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 52%, #7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__block-score {
    height: 150px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    border: 5px solid #606e85;
    padding: 10px;
    border-radius: 10px;
    &__game-name {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__game-name p {
      margin: 0;
      font-size: 40px;
      color: white;
      font-weight: bold;
      line-height: 44px;
      letter-spacing: 5px;
    }
    &__item {
      width: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      color: white;
      font-weight: bold;
    }
  }
}

.block-game {
  position: relative;
  height: 800px;
  width: 800px;
  &__paper {
    position: absolute;
    left: 100px;
    top: 100px;
    height: 200px;
    width: 200px;
    border: 30px solid #5671f5;
    border-radius: 50%;
    transition: all 0.2s;
  }
  &__paper:hover {
    height: 220px;
    width: 220px;
  }
  &__Rock {
    position: absolute;
    left: 450px;
    top: 100px;
    height: 200px;
    width: 200px;
    border: 30px solid #dd405d;
    border-radius: 50%;
    transition: all 0.2s;
    font-size: 40px;
  }
  &__Rock:hover {
    height: 220px;
    width: 220px;
  }
  &__Scissors {
    position: absolute;
    left: 275px;
    top: 350px;
    height: 200px;
    width: 200px;
    border: 30px solid #eca922;
    border-radius: 50%;
    transition: all 0.2s;
  }
  &__Scissors:hover {
    height: 220px;
    width: 220px;
  }
}
.app-btn-restart {
  width: 100px;
  height: 100px;
  padding: 10px 0;
  border-radius: 50%;
  border: none;
  margin-top: 50px;
  background-color: #dd405d;
  font-size: 20px;
  color: white;
  letter-spacing: 3px;
}
